h1{
	text-align: center;
	font-family: cursive;
	font-size: 50px;
	color: Red;
}

body{
	background-color: silver;
	background-size: cover;
	background-repeat: no-repeat;
}

#device{
	/*display: flex;*/
	justify-content: space-around;
	height: 600px;
	width:  600px;
	background-color: green;
	margin:  0 auto;
	border-radius: 4%;
	/*display: block;*/
}

#screen{
	/*display:  flex;*/
	height: 525px;
	width: 525px;
	background-color: white;
	margin: auto;
	margin-top: 50px;
	border-radius: 7%;
	padding: 20px;
	/*align-items: flex-end;*/
}

#attributesContainer{
	/*background-color: red;*/
	background: linear-gradient(to left top, white, red);
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	padding: 50px;
	/*flex-direction: column;*/
	/*margin: auto;*/
}

.imgContainer img{
	display: flex;
	align-items: flex-start;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	animation:  animateImg 1s linear infinite;
	/*margin-bottom: 200px;*/
}

/*@keyframes animateImg {
	0%(margin-right: -100px)
	100%(margin-right: 30%)*/

#buttons{
	background: linear-gradient(to right bottom, white, red);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	padding: 50px;
	/*margin-bottom: 50px;*/
}

#buttons: active{
	transform: translateY(2px);
}
}
/*img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
*/